.btn-scrollTop{
    position: fixed;
    bottom: 40px;
    font-size: 3rem;
    cursor: pointer;
    right: 2%;
    color: orange;
    background: black;
    border-radius: 100px;
    padding: 0px;
    border: none;
    opacity: 0.9;
}