.description{
    background-color: rgba(255, 166, 0, 0.1);
}
.description__article{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}
.description__history{
    text-align: start;
    padding: 1rem;
    font-size: 1rem;
}
