.menu {
  position: sticky;
  top:0;
  z-index: 1;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  height: 4rem;

    &-link {
      margin-left: 1.2rem;
      padding: 1rem;
      cursor: pointer;
      color: #FFDE59;
      position: relative;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;
  
      &--selected {
        border-radius: 1rem;
        border-bottom: 0.2rem solid #FFDE59;
      }
      &:hover {
        border-radius: 3rem;
        border: 0.2rem solid #FFDE59;
        transition: all 0.25s;
      }
    }
  }
  .menu-big{
    width: 100%;
  }

  .nav-toggle{
    display: none;
  }

  @media (max-width: 700px) {

    .menu{
      justify-content: flex-end;
      border-radius: 0;

      &-link{
        display: flex;
        align-self: center;
        margin: 0;
        width: auto;
        height: auto;
        text-align: center;
        border-bottom: none;
      }
    }
    .nav-items {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0 0 1rem 1rem;
      background: white;
      transform: translateX(-100%);
      transition: all .45s;

      &.switch {
        transform: translateX(0);
        background: rgb(43, 43, 43);
    }
    }

    
    .nav-toggle {
      display: flex;
      align-items: center;
      padding-right: 2rem;
      height: 4rem;
      cursor: pointer;
    }
    .hamburger {
      position: relative;
      top: 0;
      width: 32px;
      height: 2px;
      background: #FFDE59;
      transition: all 0.45s ease-in-out;
    }
    .hamburger::before,
    .hamburger::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #FFDE59;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
    .hamburger::before {
      width: 32px;
      transform: translateY(-8px);
      right: 0;
    }
    .hamburger::after {
      width: 32px;
      transform: translateY(8px);
    }
    .nav-toggle.switch .hamburger {
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.switch .hamburger::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .nav-toggle.switch .hamburger::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  }