.slideshow{
    text-align: center;
    margin-bottom: 13rem;
}
.slide{
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    z-index: -1 !important;
}

@media (max-width: 700px) {
    .slide{
        width: 350px;
        height: 350px;
    }

}
