.slideshow{
    text-align: center;
    z-index: -1;
}
.slide{
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .slide{
        height: 250px;
    }

}
